SUBSYSTEM=="module", ACTION=="add", KERNEL=="acpi_cpufreq", RUN+="/bin/sh -c 'echo -n balance_power | tee /sys/devices/system/cpu/cpufreq/policy?/energy_performance_preference'"
