[Unit]
Description=Intel Undervolt Service
After=sleep.target suspend.target hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/undervolt

[Install]
WantedBy=multi-user.target
